src/jade/index.jade
extends ./_include/_layout

block vars
    -var topics = ['WORKS', 'SKILL', 'CONTACT'];
    -var name = "Masaki Yamashita / masatatu";
    -var email = "yfa47871(a)nifty.com";
    -var mainURL = "http://pentamania.web.fc2.com/";

block css
    link(rel='stylesheet' href="./assets/css/lib.css")
    link(rel='stylesheet' href="./assets/css/main.css")

block scripts
    script(src="./assets/js/lib.js")
    script(src="./assets/js/main.js")

block topNav
    nav#topNav
        div.topNav_wrapper
            div.siteTitle
                h1 Portfolio的な
            .row
            div.siteLogo.col-sm-2.col-xs-2
                img(src="./assets/images/logo.png")
            ul.topNavLink.col-sm-10.col-xs-10
                each val in topics
                    li.topNavLink__element #{val}

block content
    div#page1.page
      .page1__main.container
        h2.page-topic #{topics[0]}
        #works-carousel
        #works-status
            ul.status-box
      .filter
            
    div#page2.page(ng-controller="ExhibitCtrl")
      .page2__main.container
        h2.page-topic #{topics[1]}
        ul.hexes
          li(ng-repeat='t in tabs' ng-click="showActiveDetail(t)")
            .hex {{t.label}}
        //- ul.hexes
        //-   li
        //-     .hex DES
        //-   li
        //-     .hex CAN
        //-     .hex FRONT
        p.caption ボタンクリックで詳細表示
        
        //- .details.animated(ng-repeat='(i, t) in tabs' ng-hide="!t.isActive" ng-class="{bounceInUp: t.isActive, bounceOutUp: !t.isActive}" ng-click="t.isActive=!t.isActive")
        //- div(ng-repeat='(i, t) in tabs' detail="t")
        div(ng-repeat='(i, t) in tabs')
        //- span(detail="t")
        .details.animated(ng-repeat='(i, t) in tabs' ng-class="{bounceInUp: t.isActive, bounceOutUp: !t.isActive}" ng-click="t.isActive=!t.isActive")
          .clip
          h4.details__header {{t.label}}
          ul.details__contents
            //- ng-repeatをネストしたい場合はインライン要素のみ?
            li(ng-repeat='(key, value) in t.contents' ng-class-even="'even'")
              .details__content__title {{key}}
              .details__content__main {{value}}
          
          .details__url 参考URL: 
            a(href='{{t.refurl}}') {{t.refurl}}
            
          .closer(ng-click="t.isActive=!t.isActive") クリックで閉じます
      
    //- div#page2.page
    //-     h2.page-topic #{topics[1]}
    //-     .page2__main
    //-         .page2__left
    //-             h3.page2__sub-topic Who am I??
    //-             .profile-imageAraa
    //-                 img(src="./assets/images/myImage.png")
    //-             div.profile
    //-         .page2__right
    //-             h3.page2__sub-topic 知ってる技術とか
             
             
    div#page3.page
        .page3__topArea 
            h3.page3__title OWARI
            p.page3__description Thank you for watching!
            canvas#game
        block contact
            .contact-wrapper
              .contact__main.container
                .contact__left
                    .mail-image
                        img(src='./assets/images/mail.png' alt="メール")
                
                .contact__right
                    .contact__right__content
                        h3 #{topics[2]}
                        ul.page3__contact-info
                            li Name: #{name}
                            li E-mail: 
                                a(href='mailto:#{email}') #{email}
                            //- li Main HP: 
                            //-   a(href='#{mainURL}') #{mainURL}
        .bottom
          .backToTop
            img(src="./images/goToTop.png" alt="トップに戻る")

block indicatorPlane
    div#indicator-wrapper
        ul.indicator-track
            each val, index in topics
                li.indicator-element
                    div.circle
                    h3.indicator-topic #{val}
        #indicator-ship
            img(src='./assets/images/plane.png')

dist/index.html
<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Masatatu Port-folio</title>
    <link rel="stylesheet" href="./assets/css/lib.css">
    <link rel="stylesheet" href="./assets/css/main.css">
  </head>
  <body>
    <div class="veil"></div>
    <div id="wrapper">
      <nav id="topNav">
        <div class="topNav_wrapper">
          <div class="siteTitle">
            <h1>Portfolio的な</h1>
          </div>
          <div class="row"></div>
          <div class="siteLogo col-sm-2 col-xs-2"><img src="./assets/images/logo.png"></div>
          <ul class="topNavLink col-sm-10 col-xs-10">
            <li class="topNavLink__element">WORKS</li>
            <li class="topNavLink__element">SKILL</li>
            <li class="topNavLink__element">CONTACT</li>
          </ul>
        </div>
      </nav>
      <div id="page1" class="page">
        <div class="page1__main container">
          <h2 class="page-topic">WORKS</h2>
          <div id="works-carousel"></div>
          <div id="works-status">
            <ul class="status-box"></ul>
          </div>
        </div>
        <div class="filter"></div>
      </div>
      <div id="page2" ng-controller="ExhibitCtrl" class="page">
        <div class="page2__main container">
          <h2 class="page-topic">SKILL</h2>
          <ul class="hexes">
            <li ng-repeat="t in tabs" ng-click="showActiveDetail(t)">
              <div class="hex">{{t.label}}</div>
            </li>
          </ul>
          <p class="caption">ボタンクリックで詳細表示</p>
          <div ng-repeat="(i, t) in tabs"></div>
          <div ng-repeat="(i, t) in tabs" ng-class="{bounceInUp: t.isActive, bounceOutUp: !t.isActive}" ng-click="t.isActive=!t.isActive" class="details animated">
            <div class="clip"></div>
            <h4 class="details__header">{{t.label}}</h4>
            <ul class="details__contents">
              <li ng-repeat="(key, value) in t.contents" ng-class-even="'even'">
                <div class="details__content__title">{{key}}</div>
                <div class="details__content__main">{{value}}</div>
              </li>
            </ul>
            <div class="details__url">参考URL: <a href="{{t.refurl}}">{{t.refurl}}</a></div>
            <div ng-click="t.isActive=!t.isActive" class="closer">クリックで閉じます</div>
          </div>
        </div>
      </div>
      
      <div id="page3" class="page">
        <div class="page3__topArea"> 
          <h3 class="page3__title">OWARI</h3>
          <p class="page3__description">Thank you for watching!</p>
          <canvas id="game"></canvas>
        </div>
        <div class="contact-wrapper">
          <div class="contact__main container">
            <div class="contact__left">
              <div class="mail-image"><img src="./assets/images/mail.png" alt="メール"></div>
            </div>
            <div class="contact__right">
              <div class="contact__right__content">
                <h3>CONTACT</h3>
                <ul class="page3__contact-info">
                  <li>Name: Masaki Yamashita / masatatu</li>
                  <li>E-mail: <a href="mailto:yfa47871(a)nifty.com">yfa47871(a)nifty.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="backToTop"><img src="./images/goToTop.png" alt="トップに戻る"></div>
        </div>
      </div>
      <div id="indicator-wrapper">
        <ul class="indicator-track">
          <li class="indicator-element">
            <div class="circle"></div>
            <h3 class="indicator-topic">WORKS</h3>
          </li>
          <li class="indicator-element">
            <div class="circle"></div>
            <h3 class="indicator-topic">SKILL</h3>
          </li>
          <li class="indicator-element">
            <div class="circle"></div>
            <h3 class="indicator-topic">CONTACT</h3>
          </li>
        </ul>
        <div id="indicator-ship"><img src="./assets/images/plane.png"></div>
      </div>
    </div>
    <script src="./assets/js/lib.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
